@import "tailwindcss";


@theme {
  --color-primary: #10357F;
  --color-secondary: #2A3149;
}

/* Hide scrollbar but keep scrolling functionality */
/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* Custom styles can go here */